* {
    outline: none !important;
}

body {
    margin-bottom: 300px;
}

.create-theme-form {
    background-color: #343A40;
    border: 1px solid rgba(48, 48, 50, 0.08);
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(48, 48, 50, 0.1);
    padding: 30px;
}

.date-theme {
    color: #0069D9;
}

.author-theme,
.date-theme {
    display: inline-block;
    border-radius: 10px;
    height: 50px;
    line-height: 45px;
    padding: 0 30px;
    margin-bottom: 20px;
}

.author-theme .author-name {
    margin-right: 5px;
}

.author-theme img {
    width: 25px;
    margin-bottom: 5px;
}


.create-theme-form textarea,
.create-theme-form input {
    background-color: #5A6268;
    border: none;
    color: lightgray;
}

.create-theme-form textarea:focus,
.create-theme-form input:focus {
    background-color: #5A6268;
    border: none;
    color: lightgray;
}

.create-theme-form {
    color: lightgray;
}

.create-theme-form .input-group-text {
    border: none;
}

nav.header .profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: gray;
}

nav.header .user-avatar {
    width: 25px;
}

nav.header .user-name {
    color: lightgray;
    margin-right: 10px;
}

.spinner-border {
    margin-bottom: 3px;
}

section.main {
    margin-top: 100px;
    height: 600px;
}

.form-content form {
    margin-top: 40px;
}

.form-content {
    border: 1px solid rgba(48, 48, 50, 0.08);
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(48, 48, 50, 0.1);
    padding: 70px 50px 60px 50px;
}

.form-content .mybtn {
    margin-top: 30px;
    text-align: center;
}

.form-content butoon {
    margin-top: 10px;
}

table.theme-list tr,
table.theme-list th {
    height: 50px;
    line-height: 50px;
}

table.theme-list tr:not(.table-head):hover {
    z-index: 999;
    cursor: pointer;
    background-color: #263238 !important;
    box-shadow: 0px 10px 20px 0px rgba(48, 48, 50, 0.1);

    transition: all 0.3s ease;
    transform: scale(1.01);

}
